h1 {
    color: #FB8F67;
    /* background-color: #156064; */
    text-align: center;
    font-size: 100%;
    /* margin-bottom: 2%; */
}

img {
    padding-top: 10px;
}

.center {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

body {
    background-color: #d8e2dc;
}

button {
    background-color: #d8e2dc;
    color: #FB8F67;
    border-radius: 10px;
    font-size: larger;
    font-weight: bold;
    padding: 1%;
}

.banner {
    background-color: #156064;
    max-height: 25%;
    width: auto;
    padding: 5%;
    margin: 0%;
    text-align: center;
}