h1 {
    color: #FB8F67;
    /* background-color: #156064; */
    /* text-align: center; */
    margin: 0;
}

img {
    padding-top: 10px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

body {
    background-color: #d8e2dc;
}

.banner {
    background-color: #156064;
    height: 50px;
    width: 100%;
    padding: 5%;
    text-align: center;
}